html, body, #container{
    width: 100;
    height: 100%;
    padding: 0;
    margin: 0;
}

div, p, h1, h2, h3, h4, h5, h6, ol, ul{
    margin: 0;
    padding: 0;
}


#header{
    height: 50px;
    width: 100%;
    background: red;
}

#footer{
    height: 50px;
    width: 100%;
    background: grey;
}

#left{
    height: 100%;
    float: left;
    width: 30%;
    background: #fff;
}

#center{
    height: 100%;
    float: left;
    width: 35%;
    background: #fff;
}

#right{
    height: 100%;
    float: left;
    width: 35%;
    background: #fff;
}