.musicFolder{
    width: 20%;
    height: 100%;
}

.smallWindow{
    width: 100%;
    height: 69px;
    background: #fff;
    cursor: pointer;
    border-top: 1px solid #cebaba;
}

.folderList{
    width: 100%;
    background: #fff;
    height: 430px;
}

.folderList .intro{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.folderList .paiHangBang{
    background: #fff;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    color: grey;
    border-left: 3px solid #fff;
}

.folderList .paiHangBang:hover{
    color: #000;
    cursor: pointer;
}

.folderList .selected{
    background: #f1efef;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    color: #272525;
    border-left: 3px solid #e6245a;
}

.smallWindow img{
    width: 40%;
    height: 100%;
    display: inline-block;
    float: left;
}

.smallWindow span{
    display: inline-block;
    margin-left: 5px;
    margin-top: 6px;
    width: 55%;
    font-size: 12px;
    overflow: hidden;
    height: 30px;
}

