html, body, #container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header{
    -webkit-app-region: drag;
}

#container{
    position: relative;
}

.button, i, input{
    -webkit-app-region: no-drag;
}

div, p, ol, ul{
    margin: 0;
    padding: 0;
}

.index{
    width: 100%;
    height: 100%;
    background: #fff;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 7px;  
    /*background-color: #F5F5F5;  */
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
        /* -webkit-box-shadow: inset 0 0 6px #fff; */
    border-radius: 10px;
    /*background-color: #219ec5; */
    background-color: none;
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #cccccc;
} 


